# Environment variables
.env
.env.local
.env.*.local

# Python runtime & caches
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
htmlcov/

# Virtual Environment
venv/
.venv/
ENV/

# OS / Editor
.DS_Store
.idea/
.vscode/
